header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#nav{
    display: flex;
    width: 20%;
    justify-content: space-around;
}
#nav a, button{
    text-decoration: none;
    background-color: rgb(152, 198, 240);
    color: black;
    border-radius: 5px;
    padding:5px;
    font-size: 32px;
}
#nav a:hover, button:hover{
    background-color: rgb(83, 64, 92);
    color: rgb(152, 198, 240);
}
#component-body{
    display: flex;
    justify-content: center;
    padding: 5%
}
form, #note{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    text-align: center;
    background-color:  rgb(168, 119, 190);
    padding: 20px;
    border-radius: 8px;
}
label{
    font-size: 28px;
    font-weight: 550;
    padding-bottom: 5px;
}
input, textarea{
    padding:10px;
    font-size:22px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: none;
}
textarea{
    padding-bottom: 50px;
    font-size: 20px;
}
button{
    border:none;
}
#notes-container{
    width:70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#note{
    margin: 10px;
    flex-flow: wrap;
    flex: auto;
    padding-bottom: 15px;
    min-height: 50%;
}
#note h2{
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: solid black 2px ;
    width:100%
}
#note p {
    font-size: 25px;
    margin-top: 25px;
    width:100%;
    min-height: 40%;
}
#note button{
    width: 48%;
    margin:0.5%;
    margin-bottom: 0%;
}


